<div class="main__container">
  <div class="gus-card">

    <main class="gus-content"> 
      <h1 class='h1'>Information Centre</h1>
      <!-- gus form -->
      <h1 class="gus-welcome-text">Meet Goose the gus</h1>
      <div class="gus-container" >

         
          <section class="card card-info text-white bg-dark mb-3">
            
            <section class="card-img-top">
              <youtube-player
                [videoId]="id"
                (ready)="savePlayer($event)"
                (change)="onStateChange($event)"
                [playerVars]="playerVars">
              </youtube-player>
            </section>
            <div class="card-body"></div>
          </section>
      
          <button
            type="button"
            class="btn-primary"
            (click)="playVideo()">
            Play
          </button>
      
          <button
            type="button"
            class="btn-Danger"
            (click)="pauseVideo()">
            Pause
          </button>
        </div>
          
       

        <div>
          <mat-card class='mat-card'>
          <mat-card-title class='mat-card-title'>Lung Cancer</mat-card-title>
            <mat-card-content>
                Cancer of the lung, like all cancers, results from an abnormality in the body's basic unit of life, the cell. Normally, the body maintains a system of checks and balances on cell growth so that cells divide to produce new cells only when new cells are needed. Disruption of this system of checks and balances on cell growth results in an uncontrolled division and proliferation of cells that eventually forms a mass known as a tumor.

Tumors can be benign or malignant; when we speak of "cancer," we are referring to those tumors that are malignant. Benign tumors usually can be removed and do not spread to other parts of the body. Malignant tumors, on the other hand, often grow aggressively locally where they start, but tumor cells also can enter into the bloodstream or lymphatic system and then spread to other sites in the body. This process of spread is termed metastasis; the areas of tumor growth at these distant sites are called metastases. Since lung cancer tends to spread or metastasize very early after it forms, it is a very life-threatening cancer and one of the most difficult cancers to treat. While lung cancer can spread to any organ in the body, certain locations -- particularly the adrenal glands, liver, brain, and bones -- are the most common sites for lung cancer metastasis.

The lung also is a very common site for metastasis from malignant tumors in other parts of the body. Tumor metastases are made up of the same types of cells as the original (primary) tumor. For example, if prostate cancer spreads via the bloodstream to the lungs, it is metastatic prostate cancer in the lung and is not lung cancer.
            </mat-card-content>
          <mat-card-subtitle class='mat-card-subtitle'>Facts</mat-card-subtitle>
          <mat-card-content>
              <img src=".\assets\images\healthy-lung-compared-to-smokers-lung (1).jpg"> 
              Cancer of the lung, like all cancers, results from an abnormality in the body's basic unit of life, the cell. Normally, the body maintains a system of checks and balances on cell growth so that cells divide to produce new cells only when new cells are needed. Disruption of this system of checks and balances on cell growth results in an uncontrolled division and proliferation of cells that eventually forms a mass known as a tumor.

              Tumors can be benign or malignant; when we speak of "cancer," we are referring to those tumors that are malignant. Benign tumors usually can be removed and do not spread to other parts of the body. Malignant tumors, on the other hand, often grow aggressively locally where they start, but tumor cells also can enter into the bloodstream or lymphatic system and then spread to other sites in the body. This process of spread is termed metastasis; the areas of tumor growth at these distant sites are called metastases. Since lung cancer tends to spread or metastasize very early after it forms, it is a very life-threatening cancer and one of the most difficult cancers to treat. While lung cancer can spread to any organ in the body, certain locations -- particularly the adrenal glands, liver, brain, and bones -- are the most common sites for lung cancer metastasis.

              The lung also is a very common site for metastasis from malignant tumors in other parts of the body. Tumor metastases are made up of the same types of cells as the original (primary) tumor. For example, if prostate cancer spreads via the bloodstream to the lungs, it is metastatic prostate cancer in the lung and is not lung cancer.
          </mat-card-content>
          <mat-card-subtitle>What is Lung cancer?</mat-card-subtitle>
          <mat-card-content>
              Cancer of the lung, like all cancers, results from an abnormality in the body's basic unit of life, the cell. Normally, the body maintains a system of checks and balances on cell growth so that cells divide to produce new cells only when new cells are needed. Disruption of this system of checks and balances on cell growth results in an uncontrolled division and proliferation of cells that eventually forms a mass known as a tumor.

Tumors can be benign or malignant; when we speak of "cancer," we are referring to those tumors that are malignant. Benign tumors usually can be removed and do not spread to other parts of the body. Malignant tumors, on the other hand, often grow aggressively locally where they start, but tumor cells also can enter into the bloodstream or lymphatic system and then spread to other sites in the body. This process of spread is termed metastasis; the areas of tumor growth at these distant sites are called metastases. Since lung cancer tends to spread or metastasize very early after it forms, it is a very life-threatening cancer and one of the most difficult cancers to treat. While lung cancer can spread to any organ in the body, certain locations -- particularly the adrenal glands, liver, brain, and bones -- are the most common sites for lung cancer metastasis.

The lung also is a very common site for metastasis from malignant tumors in other parts of the body. Tumor metastases are made up of the same types of cells as the original (primary) tumor. For example, if prostate cancer spreads via the bloodstream to the lungs, it is metastatic prostate cancer in the lung and is not lung cancer.
          </mat-card-content>
          <mat-card-subtitle>What are the causes and risk factors for lung cancer?</mat-card-subtitle>
          <mat-card-content>
              Cancer of the lung, like all cancers, results from an abnormality in the body's basic unit of life, the cell. Normally, the body maintains a system of checks and balances on cell growth so that cells divide to produce new cells only when new cells are needed. Disruption of this system of checks and balances on cell growth results in an uncontrolled division and proliferation of cells that eventually forms a mass known as a tumor.

Tumors can be benign or malignant; when we speak of "cancer," we are referring to those tumors that are malignant. Benign tumors usually can be removed and do not spread to other parts of the body. Malignant tumors, on the other hand, often grow aggressively locally where they start, but tumor cells also can enter into the bloodstream or lymphatic system and then spread to other sites in the body. This process of spread is termed metastasis; the areas of tumor growth at these distant sites are called metastases. Since lung cancer tends to spread or metastasize very early after it forms, it is a very life-threatening cancer and one of the most difficult cancers to treat. While lung cancer can spread to any organ in the body, certain locations -- particularly the adrenal glands, liver, brain, and bones -- are the most common sites for lung cancer metastasis.

The lung also is a very common site for metastasis from malignant tumors in other parts of the body. Tumor metastases are made up of the same types of cells as the original (primary) tumor. For example, if prostate cancer spreads via the bloodstream to the lungs, it is metastatic prostate cancer in the lung and is not lung cancer.
          </mat-card-content>
        </mat-card>
      </div>
     

      
    </main>
    
 


</div>